 <!-- Page content -->
 <div class="container mt-4 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Add password</small>
            </div>
            <form id="accountActivate" action="api/accounts/create" method="POST"   >
             <div id="formError" style="display:none"><p id="errorField" class="text-center text-danger"></p> </div>
               <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input name="password" class="form-control" placeholder="password" type="password">
                </div>
              </div>
              <div class="text-center">
                  <p id="loader" class="text-center text-success" style="display:none"> Loading...</p>
                <input id="submit" type="submit" class="btn btn-success my-4 mx-auto" value="confirm" style="display:block" />
              </div>

            </form>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
